<header class="top-nav">
    <div class="nav-container">
        <!-- SHOPLIVE title -->
        <div class="logo">
            SHOPLIVE
        </div>

        <!-- Radzen Menu -->
        <div class="nav-center">
            <RadzenMenu Orientation="Orientation.Horizontal"
                        Style="background: transparent; color: white; border: none; font-size: 17px;">

                <RadzenMenuItem Text="Home" Path="/" Icon="home" />
              
                <RadzenMenuItem Text="Products" Path="/Products" Icon="shopping_cart" />
                <RadzenMenuItem Text="Shopping Cart" Path="/Shopping Cart" Icon="info" />
                <RadzenMenuItem Text="My Account" Path="/My Account" Icon="phone" />
            </RadzenMenu>
        </div>
    </div>
</header>
