@using Microsoft.Extensions.Localization
@using WebsiteDesign.Locales;
@using System.Globalization
@using WebsiteDesign.Components.Pages;
@inject CartService CartService

<header class="top-nav">
    <div class="nav-container">
        <div class="logo">SHOPLIVE</div>

        <div class="nav-center">
            <RadzenMenu Orientation="Orientation.Horizontal"
                        Style="background: transparent; color: white; border: none; font-size: 17px;">

                <RadzenMenuItem Text=@localizer["Home"] Path="/" Icon="home" />

                <RadzenMenuItem Text=@localizer["Products"] Path="/Products" Icon="shopping_cart" />

                <!-- CART WITH BADGE -->
                <RadzenMenuItem Path="/Cart">
                    <Template>
                        <span class="position-relative">
                            🛒 @localizer["Cart"]
                            @if (cartCount > 0)
                            {
                                <span class="badge bg-danger position-absolute top-0 start-100 translate-middle ms-1">
                                    @cartCount
                                </span>
                            }
                        </span>
                    </Template>
                </RadzenMenuItem>


                
                <RadzenMenuItem Text=@localizer["Login"] Path="/Auth" Icon="home" />
                
                <RadzenMenuItem Text=@localizer["MyOrders"] Path="/order-history" Icon="receipt_long" />
                
                    <CultureSelector />
               
            </RadzenMenu>



        </div>
    </div>
</header>

@code {
    int cartCount = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            cartCount = await CartService.GetCartCount();

            // 🔔 SUBSCRIBE TO EVENT
            CartService.OnCartChanged += UpdateCartCount;

            await InvokeAsync(StateHasChanged);
        }
    }

    async void UpdateCartCount()
    {
        cartCount = await CartService.GetCartCount();
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        // 🔕 UNSUBSCRIBE (VERY IMPORTANT)
        CartService.OnCartChanged -= UpdateCartCount;
    }
}