@page "/cart"
@inject CartService CartService
@rendermode InteractiveServer
@inject NavigationManager Nav

<h3>My Cart</h3>



@if (!loaded)
{
    <p>Loading cart...</p>
}
else if (!cart.Any())
{
    <div class="alert alert-info">Cart is empty</div>
}
else
{
    @foreach (var item in cart)
    {
        <div class="card mb-2 p-2">
            <div class="d-flex justify-content-between align-items-center">
                <span>
                    <b>@item.Name</b> (x @item.Quantity)
                </span>

                <span>
                    Rs. @(item.Price* item.Quantity)
                </span>

                <button class="btn btn-sm btn-danger"
                        @onclick="() => Remove(item.ProductId)">
                    Remove
                </button>
            </div>
        </div>
    }

    <div class="text-end fw-bold mt-2">
        Total: Rs. @cart.Sum(x => x.Price * x.Quantity)
    </div>

    <div class="text-end mt-3">
        <button class="btn btn-success" @onclick="GoToCheckout">
            Check Out
        </button>
    </div>
}

@code {
    List<CartItem> cart = new();
    bool loaded;

    protected override async Task OnInitializedAsync()
    {
        CartService.OnCartChanged += LoadCart;
        await LoadCartAsync();
    }

    // ✅ Event handler → must be void
    async void LoadCart()
    {
        await LoadCartAsync();
    }

    async Task LoadCartAsync()
    {
        cart = await CartService.GetCart();
        loaded = true;
        await InvokeAsync(StateHasChanged);
    }

    async Task Remove(int productId)
    {
        await CartService.RemoveFromCart(productId);
    }

    void GoToCheckout()
    {
        Nav.NavigateTo("/checkout");
    }

    public void Dispose()
    {
        CartService.OnCartChanged -= LoadCart;
    }
}