@page "/order-success"


<h3>OrderSuccess</h3>

<div class="text-center mt-5">
    <h2>🎉 Order Placed Successfully</h2>
    <p>Thank you for shopping with us.</p>

    <a href="/Products" class="btn btn-primary mt-3">
        Continue Shopping
    </a>
</div>



@code {

}
